{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<title>Login</title>
{% endblock %}
{% block content %}
<div>

    <h1>Login | Quiz Master</h1>
    <p>Welcome Back! We are happy to see you again.</p>
    <form action="" method="post">
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" placeholder="password">
        </div>
        <div class="form-group">
            <input type="submit" value="Login">
        </div>
    </form>
    <p>Don't have an account? <a href="{{ url_for('teacher.register') }}">Register</a></p>
</div>

{% endblock %}