{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<title>Login</title>
{% endblock %}
{% block content %}
<h1>Login | Quiz Master</h1>
<p>Welcome Back! We are happy to see you again.</p>
<form action="" method="post">
    <div class="">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" placeholder="username"><br><br>
    </div>
    <div class="">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="password"><br><br>
    </div>
    <div class="">
        <input type="submit" value="Login"><br>
    </div>
</form>
<p>Don't have an account? <a href="{{ url_for('teacher.register') }}">Register</a></p>

{% endblock %}