<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Quiz Master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="notifications">
            {% for category, message in messages %}
                <li class="noti {{ category }}">{{ message }}</li>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <div id="nav">
        <div class="navbar">
            <div class="left"></div>
            <div class="right">
                <div class="menu">
                    <a href="/">Home</a>
                    {% if session.get('user_type', None) == 'student' %}
                    <a href="{{ url_for('student.index') }}">Classes</a>
                    <a href="{{ url_for('student.index') }}">Profile</a>
                    <a href="{{ url_for('student.attend_quiz') }}">Attend Quiz</a>
                    {% elif session.get('user_type', None) == 'teacher' %}
                    <a href="{{ url_for('teacher.index') }}">Classes</a>
                    <a href="{{ url_for('teacher.index') }}">Profile</a>
                    <a href="{{ url_for('teacher.index') }}">Create Quiz</a>
                    {% else %}
                    <a href="{{ url_for('student.login') }}">Student</a>
                    <a href="{{ url_for('teacher.login') }}">Teacher</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div id="root">
        {% block content %}{% endblock %}
    </div>
</body>
</html>