<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%% block title %%}{%% endblock %%} | Quiz Master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {%% block head %%}{%% endblock %%}
</head>
<body>
    <div id="nav">
        <div class="navbar">
            <div class="left"></div>
            <div class="right">
                <div class="menu">
                    <a href="/">Home</a>
                    <a href="/student">Student</a>
                    <a href="/teacher">Teacher</a>
                </div>
            </div>
        </div>
    </div>

    <div id="root">
        {%% block content %%}{%% endblock %%}
    </div>
</body>
</html>